#map {
    height: 370px;
    width:350px;
    float: right;
    left: 212px;
    border: solid grey 8px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: dark blue;
} 

.container {
    background-color: dark grey;
  }

.bg-dark {
    background-color: rgb(114, 107, 107) !important;
}

.bg-light {
    background-color: rgb(206, 201, 201) !important;
}

#properties {
    float: left;
    right: 400px;
}
